/*colors*/
/*black: #272932*/
/*white: #EBEBEB*/
/*pinkish red: #F45B69*/
/*blue: #118AB2*/
/*yellow: #FBFF12*/

body {
    background-color: #EBEBEB;
}

h1 {
    background-color: #118AB2;
    color: #272932;
    font-family: 'Righteous', cursive;
    font-size: 60px;
    padding: 10px;
}

h2 {
    color: #272932;
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    align-content: center;
    justify-content: center;
}

label, button {
    font-family: 'Yantramanav', sans-serif;
}

input {
    width: 150px;
    height: 20px;
    margin: 3px 0 3px 0;
    padding: 3px;
}

label {
    padding: 3px;
    margin: 3px;
}

button {
    background-color: #F45B69;
    color: #EBEBEB;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5%;
}

button:hover {
    background-color: #d5404d;
}

.logoutBtn {
    justify-items: right;
    right: 10px;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    background-color: #118AB2;
    color: #EBEBEB;
    border: none;
    border-radius: 10%;
}

.logoutBtn:hover, .loginBtn:hover {
    background-color: #0d6d8d;
}

.loginBtn {
    padding: 10px;
    font-size: 15px;
    background-color: #118AB2;
    color: #EBEBEB;
    border: none;
    border-radius: 10%;
}

/*try to align the table within the scroll table*/
.adm_bookArea {
    align-content: center;
    display: none;
    height: 300px;
    width: 95%;
    overflow: scroll;
}

.bookArea {
    align-content: center;
    display: none;
    height: 300px;
    width: 95%;
    overflow: scroll;
}

.graphArea {
    display: none;
}

.login {
    display: block;
}

.logout {
    display: none;
}

table, th, td{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}